<h1>Новый комментарий</h1>

<%= render 'form', comment: @comment %>

<%#= link_to 'Назад', admin_comments_path %>
<%= link_to 'Назад', (helper_by_name2 "admin_#{@commentable.class.to_s.underscore.pluralize}_path") %>
