<h1>Редактирование гостевого чат-токена</h1>

<%= render 'form', guest_chat_token: @guest_chat_token %>

<%= link_to 'Показать', [:admin, @guest_chat_token] %> |
<%= link_to 'Назад', admin_guest_chat_tokens_path %>
