<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то затребовал ссылку на изменение Вашего пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не запрашивали это, пожалуйста, проигнорируйте это электронное письмо.</p>
<p>Ваш пароль не изменится до тех пор, пока Вы не откроете ссылку выше и не создадите новый пароль.</p>
