<p>
  <strong>Электронная почта:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @user.first_name %>
</p>

<%= link_to 'Редактировать', edit_admin_user_path(@user) %> |
<%= link_to 'Назад', admin_users_path %>
